{% extends 'base.html.twig' %}
{% block title %}Détails d'un utilisateur
	{{ user.id }}
{% endblock %}
{% block body %}


	<div class="container-fluid d-flex flex-wrap justify-content-center mt-3">
		<div class="card bg-light border-secondary" style="width: 56rem; height: auto;" id="card_presentationStructures">

			<div class="alert alert-danger alert-dismissible fade show " role="alert" id="alert" style="display: none;">Etes-vous sur de vouloir supprimer cet utilisateur?
				<a href="{{path('app_deleteUser', {id: user.id})}}" class="alert-link" id="alert">
					Oui<i class="far fa-check-circle m-2 fa-2x" id="confirm_icon"></i>
				</a>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">x</span>
				</button>
			</div>

			<div class="card-body m-1" id="card">
				<div class="container">
					<h5 class="justify-content-center mt-3" id="title_category">Utilisateur n°
						{{ user.id }}</h5>
					<p class="card-text">{{ user.lastname }}
					</p>
					<p class="card-text">{{ user.firstname }}
					</p>
					<p class="card-text">{{ user.email }}
					</p>
					<p class="card-text">{{ user.createdAt|date('Y-m-d') }}
					</p>
				</div>
				{% if is_granted('ROLE_ADMIN')  %}
					<div class="container-fluid d-flex flex-wrap justify-content-end">
						<a href="{{path('app_updateUser', {id: user.id})}}">
							<i class="fas fa-edit m-3 fa-1x" id="update_icon"></i>
						</a>
						<button type="button" class="btn btn-danger" id="warning">
							<i class="fas fa-trash fa-1x" id="delete_icon"></i>

						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div></div><script>
$('#warning').click(function (e) {
e.preventDefault()
$('.alert').show('#alert');
});</script>{% endblock %}
