{% extends 'base.html.twig' %}

{% block title %}Initialisation ou mot de passe oublié
{% endblock %}

{% block body %}
	<body id="body_color">
		{% for message in app.flashes('message') %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% endfor %}

		<div class="container-fluid d-flex flex-wrap justify-content-center " id="div_logo">
			<div class="col-8">
				<div class="container-fluid d-flex flex-wrap justify-content-center " id="div_logo">
					<img src="logoFITNESS3.png" alt="image of fitness-club logo" class="logo m-5">
					<div class="col-12">
						<h3 class="justify-content-center mt-4" id="title_category">Initialisation ou mot de passe oublié</h3>
						<p class="mt-4 mb-4">
							{{ form_start(emailForm) }}
							{{ form_row(emailForm, {'label': 'Veuillez saisir votre adresse email :'}) }}
							<button type="submit" class="btn btn" id="btn_login">Envoyer</button>
							{{ form_end(emailForm) }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
