{% extends 'base.html.twig' %}
{% block title %}Détails du Partenaire
	{{ partner.id }}
{% endblock %}
{% block body %}
	{% if is_granted('ROLE_ADMIN')  %}
		<div class="container-fluid justify-content-center">
			<h3 class="justify-content-center mt-5" id="title_category">Le Partenaire n°
				{{ partner.id }}</h3>
		</div>
		<div class="container-fluid d-flex flex-wrap justify-content-center">
			<div class="card-group">
				<div class="card m-3" style="width: 56rem;" id="card_presentation_details">
					<img class="card-img-top" src="" alt="Card image cap">
					<div class="card-body m-1">
						<h5 class="card-title">{{ partner.storeName }}</h5>
						<a href="{{path('app_updatePartner', {id: partner.id})}}">
							<i class="fas fa-edit" id="update_icon"></i>
						</a>
						<a href="{{path('app_deletePartner', {id: partner.id})}}">
							<i class="fas fa-trash" id="delete_icon"></i>
						</a>
						<p class="card-text">{{ partner.description }}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">{{ partner.lastname }}</li>
						<li class="list-group-item">{{ partner.firstname }}</li>
						<li class="list-group-item">{{ partner.email }}</li>
						<li class="list-group-item">{{ partner.country }}</li>
						<li class="list-group-item">{{ partner.description }}</li>
						<li class="list-group-item">{{ partner.phone }}</li>
						<li class="list-group-item">{{ partner.image }}</li>
						<li class="list-group-item">{{ partner.isActive }}</li>

						{% for permissions in partner.permissions %}
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="customSwitch1">
								<label class="custom-control-label" for="customSwitch1">
									{{permissions.name}}
								</label>
							</div>

						{% endfor %}

					</ul>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
