{% extends 'base.html.twig' %}
{% block title %}Les Partenaires
{% endblock %}
{% block body %}
<section class="container my-3">
	<div class="row">
		<div class="col-7">
			<h1>Modifier un Partenaire</h1>
			<fieldset>
				{{ form_start(form) }}
				{{ form_row(form.store_name, {'label': 'Nom de l\'entreprise partenaire'}) }}
					{{ form_row(form.lastname, {'label': 'Nom'}) }}
					{{ form_row(form.firstname, {'label': 'Prénom'}) }}
					{{ form_row(form.email) }}
					{{ form_row(form.adress, {'label': 'Adresse'}) }}
					{{ form_row(form.country, {'label': 'Pays'}) }}
					{{ form_row(form.description, {'label': 'Description'}) }}
					{{ form_row(form.phone, {'label': 'Téléphone'}) }}
					{{ form_row(form.image, {'label': 'Logo'}) }}
					{{ form_row(form.is_active) }}
					{{ form_row(form.permissions) }}
				
				</fieldset>
				<button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
			</div>
			{{ form_end(form) }}
		</div>
	</tbody>
</table>{% endblock %}
