{% extends 'base.html.twig' %}
{% block title %}Détails de la Structure
	{{ structure.id }}
{% endblock %}
{% block body %}
	{% if is_granted('ROLE_ADMIN')  %}
		<div class="container-fluid justify-content-center">
			<h3 class="justify-content-center mt-5" id="title_category">La Structure n°
				{{ structure.id }}</h3>
		</div>
		<div class="container-fluid d-flex flex-wrap justify-content-center">
			<div class="card-group">
				<div class="card m-3" style="width: 56rem;" id="card_presentation_details">
					<img class="card-img-top" src="" alt="Card image cap">
					<div class="card-body m-1">
						<h5 class="card-title">{{ structure.storeName }}</h5>
						<a href="{{path('app_updateStructures', {id: structure.id})}}">
							<i class="fas fa-edit" id="update_icon"></i>
						</a>
						<a href="{{path('app_deleteStructures', {id: structure.id})}}">
							<i class="fas fa-trash" id="delete_icon"></i>
						</a>
						<p class="card-text">{{ structure.description }}</p>
					</div>
					<ul class="list-group list-group-flush">
						{% for partners in structure %}
							<li class="list-group-item">{{ structure.partners }}</li>
						{% endfor %}
						<li class="list-group-item">{{ structure.storeName }}</li>
						<li class="list-group-item">{{ structure.directorName }}</li>
						<li class="list-group-item">{{ structure.email }}</li>
						<li class="list-group-item">{{ structure.adress }}</li>
						<li class="list-group-item">{{ structure.country }}</li>
						<li class="list-group-item">{{ structure.description }}</li>
						<li class="list-group-item">{{ structure.phone }}</li>
						<li class="list-group-item">{{ structure.image }}</li>
						<li class="list-group-item">{{ structure.isActive }}</li>
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
