{% extends 'base.html.twig' %}
{% block title %}Détails de la Structure
	{{ structure.id }}
{% endblock %}
{% block body %}
	<div class="container md-3">
		<h3 class="justify-content-center mt-5">Détails de la Structure n°{{ structure.id }}</h3>
		{% if is_granted('ROLE_ADMIN')  %}
			<td>
				<a href="{{path('structure', {id: structure.id})}}">
					<i class="fas fa-edit"></i>
				</a>
			</td>
			<td>
				<a href="{{path('delete_structure', {id: structure.id})}}">
					<i class="fas fa-trash"></i>
				</a>
			</td>
		{% endif %}
	</div>
	<div class="m-5 ">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Nom de l'entreprise structure</th>
					<th scope="col">Nom du dirigeant</th>
					<th scope="col">Prénom du dirigeant</th>
					<th scope="col">Email</th>
					<th scope="col">Adresse</th>
					<th scope="col">Pays</th>
					<th scope="col">Description</th>
					<th scope="col">Téléphone</th>
					<th scope="col">Logo</th>
					<th scope="col">Actif</th>
					<th scope="col">permission_newsletter</th>
					<th scope="col">permission_planning</th>
					<th scope="col">permission_promote</th>
					<th scope="col">permission_products</th>
					<th scope="col">permission_statistics</th>
					<th scope="col">permission_evenements</th>
					<th scope="col">permission_digicode</th>
				</tr>
			</thead>
			<tr>
				<th scope="row">{{ structure.id }}
				</th>
				<td>{{ structure.storeName }}</td>
				<td>{{ structure.lastname }}</td>
				<td>{{ structure.firstname }}</td>
				<td>{{ structure.email }}</td>
				<td>{{ structure.adress }}</td>
				<td>{{ structure.country }}</td>
				<td>{{ structure.description }}</td>
				<td>{{ structure.phone }}</td>
				<td>{{ structure.image }}</td>
				<td>{{ structure.description }}</td>
				<td>{{ structure.permissionNewsletter }}</td>
				<td>{{ structure.permissionPlanning }}</td>
				<td>{{ structure.permissionPromote }}</td>
				<td>{{ structure.permissionProducts }}</td>
				<td>{{ structure.permissionStatistics }}</td>
				<td>{{ structure.permissionEvenements }}</td>
				<td>{{ structure.permissionDigicode }}</td>
				<td></td>
			</tr>
		</td>
	</tr>
</td></tr></td></tr></table><div class="container d-flex flex-wrap"><a href="{{ path('app_adminStructuresIndex') }}" class="btn btn-primary mt-3">Retour à la liste des Structures</a></div></div></div>{% endblock %}
