{% extends 'base.html.twig' %}
{% block title %}Les Permissions
{% endblock %}
{% block body %}
	<div class="container md-2">
		<h3 class="justify-content-center mt-5" id="title_category">Ajouter une permission à un Partenaire
			{% if is_granted('ROLE_ADMIN')  %}
				<a href="{{path('app_registerPermission')}}">
					<i class="fas fa-plus m-3" id="btn_plus"></i>
				</a>
			{% endif %}
		</h3>
	</div>
	<div class="text-center rounded" id="container_table">
		<table class="table table-striped table-hover table-bordered " id="tablePermissions">
			<thead>
				<tr>
					<th scope="col">n° Partenaire</th>
					<th scope="col">Permission</th>
					<th scope="col">Active</th>
					<th scope="col">Modifier</th>
				</tr>
			</thead>
			<tbody id="myTable">
				{% for permission in permissions %}
					<tr>
						<th scope="row">{{ permission.partners.id }}</th>

						<td>{{ permission.perms }}</td>
						<td>
							{% if permission.active == 1 %}
								<p>1</p>
							{% else %}
								<p>0</p>
							{% endif %}
						</td>
						<td>
							<a href="{{path('app_updatePermissions', {id: permission.id})}}">
								<i class="fas fa-edit m-3" id="update_icon"></i>
							</a>
						</td>
					</tr>
				</button>

				<div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert" style="display: none;">Etes-vous sur de vouloir supprimer cette permission?
					<a href="{{path('app_deletePermissions', {id: permission.id})}}" class="alert-link" id="alert">
						Oui<i class="far fa-check-circle m-2 fa-2x" id="confirm_icon"></i>
					</a>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
				</div>
			</tbody>
		{% endfor %}
	</table>
	<!-- Modal -->
	<div class="container">
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Modifications</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"></span>
						</button>
					</div>
					<div class="modal-body">Etes-vous sur de vouloir enregistrer la modification apportée ?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" id="modalButton" data-dismiss="modal">Fermer</button>
						<button type="submit" class="btn btn-primary" id="modalButton">Confirmer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ knp_pagination_render(permissions)}}</div>
<script>
	$('#modalButton').on('shown.bs.modal', function () {
$('#myInput').trigger('focus')
})
</script>
<script>
	$('#warning').click(function (e) {
e.preventDefault()
$('.alert').show('#alert');
});
</script>{% endblock %}
