{% extends 'base.html.twig' %}
{% block title %}Les Permissions
{% endblock %}
{% block body %}
	<section class="container my-3" id="update_font">
		<div class="row">
			<div class="col">
				<h3 class=" justify-content-center mt-5" id="title_category">
					Modifier la Permission
					{{ permission.perms }}
					pour le Partenaire
					{{permission.partners.id }}</h3>
				<fieldset>
					{{ form_start(form) }}
					{{form_widget(form)}}
				</fieldset>

			</div>
		</div><!-- Button trigger modal --><button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#exampleModalCenter">
			Enregistrer</button><!-- Modal --><div class="container">
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Modifications</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true"></span>
							</button>
						</div>
						<div class="modal-body">
							Etes-vous sur de vouloir enregistrer la modification apportée ?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" id="modalButton" data-dismiss="modal">Fermer</button>
							<button type="submit" class="btn btn-primary" id="modalButton">Confirmer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{form_end(form)}}
<script>
	$('#modalButton').on('shown.bs.modal', function () {
$('#myInput').trigger('focus')
})
</script>{% endblock %}
